<mat-card>
  <mat-card-header>
Réinitialiser mon mot de passe
  </mat-card-header>
  <form [formGroup]="passForm" (ngSubmit)="submit()">
  <mat-card-content>



  <mat-form-field>
    <input matInput placeholder="Mot de passe" type="password" formControlName="password">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Confirmer le mot de passe" type="password" formControlName="confirmPassword">
  </mat-form-field></mat-card-content>
  <mat-card-actions>
    <button mat-button mat-raised-button color="primary">Changer mon mot de passe</button>
  </mat-card-actions>

</form>
</mat-card>
